@{
    ViewBag.Current = "Home";
}

    <div class="jumbotron">
        <h1>Grupp Uppgift</h1>
        <p class="lead">Grupp 5</p>
        
        @Html.ActionLink("Sharepoint List", "Index", "CSOM", new { area = "" }, new { @class = "btn btn-primary btn-large" })
        @if (Request.IsAuthenticated)
        {
            <h4>Welcome @ViewBag.User.DisplayName!</h4>
            <p>Use the navigation bar at the top of the page to get started.</p>
        }
        else
        {
            @Html.ActionLink("Click here to sign in", "SignIn", "Account", new { area = "" }, new { @class = "btn btn-primary btn-large" })
        }
    </div>

