@model IEnumerable<graph_tutorial.Models.Booking>
@{
    ViewBag.Title = "Index";
}

<h2>Bookings</h2>
<ul>
    @foreach (var booking in Model)
    {
        <li>@Html.ActionLink(booking.Title, "Booking", routeValues: new { booking = booking.Title })</li>
    }
</ul>

<form action="/" method="post">
    <input type="type" name="name" value="" />

</form>
