@model graph_tutorial.Models.CreateListItemViewModel

@{
    ViewBag.Title = "CreateItem";
}

<h2>CreateItem</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ListTitle)
    @Html.HiddenFor(m => m.Item.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Item.Title)
        @Html.TextBoxFor(m => m.Item.Title, new { @class = "form-control", placeholder = "Title", type = "text" })
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
}
