@model graph_tutorial.Models.CreateListItemViewModel

@{
    ViewBag.Title = "CreateItem";
}
    <div>
        <h2>CreateItem</h2>
        <p>@Html.ActionLink("Back", "ListDetails", "CSOM")</p>
    </div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ListTitle);

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title", type = "text" })
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
}
