@model graph_tutorial.Models.CreateListViewModel

@{
    ViewBag.Title = "CreateList";
}
    <div>
        <h2>CreateList</h2>
        <p>@Html.ActionLink("Back", "Index", "CSOM")</p>
    </div>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title", type = "text" })
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
}

