
@{
    ViewBag.Title = "Index";
}
    <div>

        <h2>Sharepoint lists</h2>
        <p>@Html.ActionLink("Create a list", "CreateList", "CSOM")</p>
    </div>
<ul>
    @foreach (string list in ViewBag.Lists)
    {
        <li>@Html.ActionLink(list, "ListDetails", new { listName = list }, null) <span class="float-right">@Html.ActionLink("Delete", "DeleteList", new { listName = list })</span> </li>
        <hr />
    }
</ul>
