@model graph_tutorial.Models.ListDetailsViewModel

@{
    ViewBag.Title = "ListDetails";
}

<h2>@Model.Title</h2>
@Html.ActionLink("Add Item", "CreateListItem", new { listName = Model.Title }, new { @class = "btn btn-primary"})

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Title</td>
                <td>@Html.ActionLink("Update", "CreateListItem", new { listName = Model.Title, id = item.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </tbody>
</table>



