
@{
    ViewBag.Title = "Game";

    const int game_width = 3;
    const int game_height = 3;
}

@for(int y = 0; y < game_height; y++)
{
    <div class="game-row" id="row-@y">
        @for(int x = 0; x < game_width; x++)
        {
            <div class="game-col" id="col-@x">
                <button class="game-cell" id="cell-@x-@y" onclick='place("cell-@x-@y")'>Test</button>
            </div>
        }
    </div>
}

<script>
    var currentPlayer = 0;
    var moveCount = 0;

    function start() {
        currentPlayer = Math.floor(Math.random() * (1 - 0)) + 0;
        $('.game-cell').html(null);
    }

    function place(id) {
        let cell = $("#" + id);
        let idSplit = id.split('-');
        let row = idSplit[1];
        let col = idSplit[2];
        let symbol = currentPlayer === 0 ? "O" : "X";

        cell.html(symbol);
        currentPlayer = currentPlayer === 0 ? 1 : 0;
       
        const n = 3;
        moveCount++;

        //check col
        for (var i = 0; i < n; i++) {
            let cell = $(`#cell-${i}-${row}`);
            if (cell.html() != symbol)
                break;
            if (i == n - 1) {
                gameOver();
            }
        }

        //check row
        for (var i = 0; i < n; i++) {
            let cell = $(`#cell-${col}-${i}`);
            if (cell.html() != symbol)
                break;
            if (i == n - 1) {
                gameOver();
            }
        }

        //check diag
        if (x == y) {
            //we're on a diagonal
            for (var i = 0; i < n; i++) {
                let cell = $(`#cell-${i}-${i}`);
                if (cell.html() != symbol)
                    break;
                if (i == n - 1) {
                    gameOver();
                }
            }
        }

        //check anti diag (thanks rampion)
        if (x + y == n - 1) {
            for (var i = 0; i < n; i++) {
                let cell = $(`#cell-${i}-${(n-1)-i}`);
                if (cell.html() != symbol)
                    break;
                if (i == n - 1) {
                    gameOver();
                }
            }
        }

        //check draw
        if (moveCount == (Math.pow(n, 2) - 1)) {
            //report draw
        }
    }

    function gameOver() {
        alert("Player " + currentPlayer + " won!");
    }

</script>

<style>
    .game-row{
        
    }

    .game-col{
        display:inline;
    }
</style>


