<appSettings>
  <add key="sp:Username" value="axel@ohras.onmicrosoft.com"/>
  <add key="sp:Password" value="DI$zA#HGs8Wj2hh]0cnaoYM1KNf&amp;JICO0dD9"/>
  <add key="ida:AppID" value="234f5fe0-569a-4f25-a189-d5e70770e74b" />
  <add key="ida:AppSecret" value="+jAam4p3dbIkqt1KMzqKWAE57LAx9pBvYEb51HzmFfI=" />
  <add key="ida:RedirectUri" value="https://localhost:44397" />
  <add key="ida:AppScopes" value="User.Read Calendars.Read Sites.Read.All Sites.ReadWrite.All Mail.ReadWrite Mail.Send Calendars.ReadWrite Group.ReadWrite.All"/>
</appSettings>